@{
    ViewData["Title"] = "Already Logged In";
}

<div class="border-div small-div">
    <h3 class="hor-center-text">You Are Already Logged In</h3>
    <p>You are already logged into an iAttend account. To sign into a different account or log out, click the button below.</p>
    <input type="button" value="Log Out" onclick="location.href='@Url.Action("Logout", "Home")'" style="margin: auto; display: block;" />
</div>