@{
    ViewData["Title"] = "Login";
}
<br />
<br />
<div style="item-align:center">
    <h2>Change Password</h2>
    <br />
    <br />
    <!--Step One View (token link not clicked)-->
    <!--This is visible in step one and becomes hidden in step two.-->
    <p>To change your password, enter that email that your iAttend account uses. A link to change your password will be provided.</p>
    <p>Email: <input id="inputEmail" value="someone@email.edu" /></p>
    <input id="Button" type="submit" value="submit" />
    <!--<button onclick="submit();">Log In</button>-->



    <!--Step Two View (token link in email clicked)-->
    <!--This is hidden in step one and becomes visible in step two.-->
    <p hidden>New Password: <input id="inputNewPassword" /></p>
    <input hidden id="Button" type="submit" value="Submit" />
    <!--<button hidden onclick="submit();">Submit</button>-->
    <br><br>
</div>