@{
    ViewData["Title"] = "ChangePassword";
}
<div>
    <h2 class="hor-center">Change Password</h2>
    <form id="formChangePassword">
        <!--Step Two View (token link in email clicked)-->
        <p>
            To change your password, please enter a new one below. Make sure to type out your new password the exact same way in the
            "Confirm Password" box.
        </p>
        <label for="inputChangePassword">Password:</label>
        <input id="inputChangePassword" type="password" required />
        <br />
        <span class="subtext">Passwords must be at least 8 characters, with one captial, one special character, and one number.</span>
        <br />
        <br />
        <label for="inputConfirmChangePassword">Confirm Password:</label>
        <input id="inputConfirmChangePassword" type="password" required />
        <br />
        <span class="subtext">Type out your new password the exact same way in the "Confirm Password" box.</span>
        <br />
        <br />
        <input id="buttonChangePasswordSubmit" type="submit" value="Submit" />
        <!--<button hidden onclick="ChangePasswordSubmit();">Submit</button>-->
    </form>

    <!--After the submit button in step two is pressed, if the password change is successful, this message will be unhidden when the page is reloaded.-->
    <h4 hidden>Password Changed Successfully</h4>
</div>