@{
    ViewData["Title"] = "Change Password";
}

<div class="center-contents-on-screen">
    <div class="border-div small-div">
        <h2 class="hor-center-text">Change Password</h2>
        <br />
        <form id="formChangePassword">
            <table class="no-design-table">
                <tr>
                    <td>New Password:</td>
                    <td><input style="width: 100%;" id="password" type="password" required /></td>
                </tr>
                <tr>
                    <td colspan="2"><span class="subtext">Passwords must be at least 8 characters, with one capital, one special character, and one number.</span></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input style="width: 100%;" id="confirm-password" type="password" required /></td>
                </tr>
                <tr>
                    <td colspan="2"><span class="subtext">Passwords must match.</span></td>
                </tr>
            </table>
            <input class="hor-center-element" type="submit" value="Submit" />
        </form>
    </div>
</div>