@{
    ViewData["Title"] = "ChangePassword";
}
<br />
<br />
<div style="text-align:center">
    <h2>Change Password</h2>
    <br />
    <br />
    <form id="formChangePassword">
        <!--Step Two View (token link in email clicked)-->
        <p>
            To Change your password, please enter a new one below. Make sure to type out your new password the exact same way in the
            "Confirm Password" box.
        </p>
        <span>Password: <input id="inputChangePassword" type="password" required /></span>
        <span class="subText">Passwords must be at least 8 characters, with one captial, one special character, and one number.</span>

        <span>Confirm Password: <input id="inputConfirmChangePassword" type="password" required /></span>
        <span class="subText">Type out your new password the exact same way in the "Confirm Password" box.</span>

        <input id="buttonChangePasswordSubmit" type="submit" value="Submit" />
        <!--<button hidden onclick="ChangePasswordSubmit();">Submit</button>-->
    </form>

    <!--After the submit button in step two is pressed, if the password change is successful, this message will be unhidden when the page is reloaded.-->
    <h4 hidden>Password Changed Successfully</h4>

    <br /><br />
</div>