@{
    ViewData["Title"] = "CreateAccount";
}

<h1>Welcome</h1>
<h2>h2</h2>
text
<h3>h3</h3>
text
<h4>h4</h4>
text
<h5>h5</h5>
text
<h6>h6</h6>
text

<br />
<br />
<div style="text-align:center">
    <h2>Create An Account</h2>
    <br />
    <br />
    <form id="formCreateAccount">
        <p>Enter the following infromation to create your iAttend account. Once you submit the information, you will recieve a confirmation email.</p>
        <p>First Name: <input id="inputFirstName" value="Example: Matthew" required /></p>
        <p>Last Name: <input id="inputLastName" value="Example: Dutt" required /></p>
        <p>Expected Graduation Date: <input id="inputExpectedGraduationDate" value="Example: 2020" required /></p>
 
        <label for="selectTrack">Select your track:</label>
        <select id="selectTrack" required>
            <option value="musicEducation">Music Education</option>
            <option value="musicBA">Music BA</option>
            <option value="musicMinor">Music Minor</option>
        </select>
        <p>Email: <input id="inputEmail" value="Example: someone@email.edu" required /></p>
        <p>Password: <input id="inputPassword" type="password" required /></p>
        <p>Confirm Password: <input id="inputConfirmPassword" type="password" required /></p>
        <input id="submitCreateAccount" type="submit" value="Create Account" />
        <!--<button onclick="createAccount();">Create Account</button>-->
    </form>
    <!--After the account verification link is clicked, this page will be reloaded, with this message unhidden and the form hidden.-->
    <h4 hidden>Account Creation Successful</h4>
    <br />
    <br />
</div>