@{
    ViewData["Title"] = "EditAnAccount";
}
<br />
<br />
<div style="text-align:center">
    <h2>Create An Account</h2>
    <br />
    <br />
    <form id="formEditUser">

        <p>First Name: <input id="inputEditUserFirstName" placeholder="Current FirstName" /></p>

        <p>Last Name: <input id="inputEditUserLastName" placeholder="Current LastName" /></p>

        <p>Expected Graduation Date: <input id="inputEditUserExpectedGraduationDate" placeholder="Current ExpectedGraduationDate" /></p>

        <label for="selectEditUserTrack">Select your track:</label>
        <select id="selectEditUserTrack" required>
            <option value="musicEducation">Music Education</option>
            <option value="musicBA">Music BA</option>
            <option value="musicMinor">Music Minor</option>
        </select>

        <label for="selectEditUserPermissions">Select your track:</label>
        <select id="selectEditUserPermissions" required>
            <option value="User">Student - User</option>
            <option value="Moderator">Professor - Moderator</option>
            <!--Notice that Admin is not an option. We will allow for transfer of admin privileges to successors only to prevent
        the scenario where all professors would have unnecessary Admin permissions.-->
        </select>

        <input id="submitEditUser" type="submit" value="Confirm Changes" />
        <!--<button onclick="submitEditUser();">Confirm Changes</button>-->

        <br /><br /><br /><br />

        <input id="submitDeleteAccount" type="submit" value="Delete Account" />
        <!--<button onclick="submitDeleteAccount();">Delete Account</button>-->

    </form>

    <!--After the information is processed and changed, this page will be reloaded, with this message unhidden and the form hidden.-->
    <h4 hidden>Account Edited Successfully</h4>

    <!--After the account is properly deleted, this page will be reloaded, with this message unhidden and the form hidden.-->
    <h4 hidden>Account Removed Successfully</h4>

    <br />
    <br />
</div>