@{
    ViewData["Title"] = "Edit the Admin Account";
}

<br />
<br />
<div>
    <h2>Edit Account</h2>
    <br />
    <br />
    <p>
        Edit the information you wish to change. To change your password, <a asp-controller="Home" asp-action="RequestNewPassword">click here</a>.
        You can also use this process to transfer the owner privilege.
    </p>
    <span class="subText">To transfer the admin privileges to another user, <a asp-controller="Home" asp-action="TransferAdmin">click here</a>.</span>
    <br />
    <br />
    <form id="formEditMyAdminAccount">

        <p>First Name: <input id="inputEditMyAdminFirstName" placeholder="Current FirstName" /></p>

        <p>Last Name: <input id="inputEditMyAdminLastName" placeholder="Current LastName" /></p>

        <p>Expected Graduation Date: <input id="inputEditMyAdminExpectedGraduationDate" placeholder="Current ExpectedGraduationDate" /></p>

        <label for="selectEditMyAdminTrack">Select your track:</label>
        <select id="selectEditMyAdminTrack" required>
            <option value="musicEducation">Music Education</option>
            <option value="musicBA">Music BA</option>
            <option value="musicMinor">Music Minor</option>
        </select>

        <input id="submitEditMyAdminAccount" type="submit" value="Confirm Changes" />
        <!--<button onclick="submitEditMyAdminAccount();">Confirm Changes</button>-->

        <br />
        <br />

    </form>

    <!--After the information is processed and changed, this page will be reloaded, with this message unhidden and the form hidden.-->
    <h4 hidden>Account Edited Successfully</h4>

    <p><a asp-controller="Home" asp-action="MyAccount">Return to My Account.</a></p>
    <br><br>
</div>