@{
    ViewData["Title"] = "EditAccount";
}

<br />
<br />
<div style="text-align:center">
    <h2>Edit Account</h2>
    <br />
    <br />
    <form id="formEditAccount">
        <p>Edit the information you wish to change. To edit your email ot track, contact your administrator. 
        To change your password, <a href="ChangePassword.cshtml">click here</a>.</p>
        <p>First Name: <input id="inputFirstName" value="Current First Name" /></p>
        <p>Last Name: <input id="inputLastName" value="Current Last Name" /></p>
        <p>Expected Graduation Date: <input id="inputExpectedGraduationDate" value="Current Expected Graduation Date" /></p>
        <input id="submitEditAccount" type="submit" value="Edit Account" />
        <!--<button onclick="editAccount();">Edit Account</button>-->
    </form>
    <!--After the information is processed and changed, this page will be reloaded, with this message unhidden and the form hidden.-->
    <h4 hidden>Account Edited Successfully</h4>

    <a href="MyAccount.cshtml">Return to My Account.</a></p>
    <br><br>
</div>