@{
    ViewData["Title"] = "Edit a User's Account";
}
<br />
<br />
<div>
    <h2 class="hor-center">Edit a User's Account</h2>
    <br />
    <br />
    <form id="formEditUser">
        <table class="no-design-table">
            <tr>
                <td width="30%">First Name:</td>
                <td><input id="inputFirstName" style="width: 100%;" placeholder="Example: Matthew" required /></td>
            </tr>
            <tr>
                <td width="30%">Last Name:</td>
                <td><input id="inputLastName" style="width: 100%;" placeholder="Example: Dutt" required /></td>
            </tr>
            <tr>
                <td width="30%">Expected Graduation Data:</td>
                <td><input id="inputExpectedGraduationDate" style="width: 100%;" placeholder="Example: 2020" required /></td>
            </tr>
         </table>
        <br />
        <label for="selectEditUserTrack">Select user's track:</label>
        <select id="selectEditUserTrack" required>
            <option value="musicEducation">Music Education</option>
            <option value="musicBA">Music BA</option>
            <option value="musicMinor">Music Minor</option>
        </select>
        <br />
        <br />
        <label for="selectEditUserPermissions">Select user's account type:</label>
        <select id="selectEditUserPermissions" required>
            <option value="User">Student - User</option>
            <option value="Moderator">Professor - Moderator</option>
            <!--Notice that Admin is not an option. We will allow for transfer of admin privileges to successors only to prevent
    the scenario where all professors would have unnecessary Admin permissions.-->
        </select>
        <br />
        <br />
        <input id="submitEditUser" type="submit" value="Confirm Changes" />
        <!--<button onclick="submitEditUser();">Confirm Changes</button>-->

        <br /><br />

        <input id="submitDeleteAccount" type="submit" value="Delete Account" />
        <!--<button onclick="submitDeleteAccount();">Delete Account</button>-->

    </form>

    <!--After the information is processed and changed, this page will be reloaded, with this message unhidden and the form hidden.-->
    <h4 hidden>Account Edited Successfully</h4>

    <!--After the account is properly deleted, this page will be reloaded, with this message unhidden and the form hidden.-->
    <h4 hidden>Account Removed Successfully</h4>

    <br />
    <br />
</div>