@{
    ViewData["Title"] = "Home";
}



<div>
    <h1>iAttend</h1>
    <h4>Welcome to your iAttend homepage!</h4>
    <img style="float: right; clear: right; margin-left: 20px; height: 40%; width: 40%;" src="~/resources/images/iAttend-Logo-Black.svg" />
    <p>iAttend is a software system created for the Music Department of the University of Mount Union.</p>
    <p>
        This system is designed to track and report attendance for recital credits. After the easy account creation and setup process,
        all that the admin and professor roles need to do is scan barcodes (TFL Codes) of the student users to record attendance.
        It is similar to scanning goods at a self-checkout at a grocery store. Security and ease-of-use have been the greatest
        priorities throughout the development of this system.
    </p>
    
    <p>
        The iAttend system was created for the Music Department of the University of Mount Union by the Three Furious Locomotives (TFL).
        TFL is a team comprised of Alec Barker, Matthew Dutt, and Michael Jarman, and it is associated with the Spring 2020 CSC 492 senior software
        engineering course at the University of Mount Union.
    </p>
</div>