@{
    ViewData["Title"] = "Login";
}
<br />
<br />
<div style="text-align:center">
    <h2>iAttend Login</h2>
    <br />
    <br />
    <p>Email: <input id="inputLoginEmail" placeholder="someone@email.edu" /></p>
    <p>Password: <input id="inputLoginPassword" type="password" /></p>
    <input id="LoginButton" type="submit" value="submit" />
    <!--<button onclick="submit();">Log In</button>-->
    <span>Forgot your password or wish to change it? <a asp-controller="Home" asp-action="RequestNewPassword">Click here to Reset Your Password.</a></span>
    <span>New user? <a asp-controller="Home" asp-action="CreateAccount">Click here to Create An Account.</a></span>
    <br />
    <br />
</div>