@{
    ViewData["Title"] = "Login";
}

<h1>Welcome</h1>
<h2>h2</h2>
text
<h3>h3</h3>
text
<h4>h4</h4>
text
<h5>h5</h5>
text
<h6>h6</h6>
text

<br />
<br />
<div style="text-align:center">
    <h2>iAttend Login</h2>
    <br />
    <br />
    <p>Email: <input id="inputEmail" value="someone@email.edu" /></p>
    <p>Password: <input id="inputPassword" type="password" /></p>
    <input id="LoginButton" type="submit" value="submit" />
    <!--<button onclick="submit();">Log In</button>-->
    <p>Forgot your password? <a href="CreateAccount.cshtml">Click here to Reset Your Password.</a></p>
    <p>New user? <a href="CreateAccount.cshtml">Click here to Create An Account.</a></p>
    <br><br>
</div>