@{
    ViewData["Title"] = "Login";
}

<h2 class="hor-center">iAttend Login</h2>
<div class="small-div">
    @using (Html.BeginForm("TestAttemptLogin", "Home", FormMethod.Post))
    {
        <table class="no-design-table">
            <tr>
                <td>Email:</td>
                <td><input type="text" style="width: 100%;" name="email" id="email" placeholder="someone@email.edu" required /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" style="width: 100%;" name="password" id="password" required /></td>
            </tr>
        </table>
        <input style="padding: 5px 25px 5px 25px; display: block; margin: auto;" type="submit" value="Login" />
    }
    <br />
    @if (ViewData["Error"] != null)
    {
        <span class="subtext" style="color: darkred; text-align: center; display: block;">@ViewData["Error"]</span>
        <br />
    }
    <span class="subtext">Forgot your password? <a asp-controller="Home" asp-action="RequestNewPassword">Click here to reset your password.</a></span>
    <br />
    <br />
    <span class="subtext">New user? <a asp-controller="Home" asp-action="CreateAccount">Click here to create an account.</a></span>
</div>