@{
    ViewData["Title"] = "Manage Requirements";
}

<div class="small-div hor-center-element">
    <h1 class="hor-center-text">Manage Requirements</h1>
    <table>
        <tr>
            <th style="width: 1%;">Edit</th>
            <th>Requirement</th>
        </tr>
        <tr>
            <td><input type="button" value="Select" /></td>
            <td>Concert</td>
        </tr>
        <tr>
            <td><input type="button" value="Select" /></td>
            <td>Recital</td>
        </tr>
    </table>
</div>