@{
    ViewData["Title"] = "ManageAccounts";
}

<br />
<br />
<div style="text-align:center">
    <h2>Manage Accounts</h2>
    <br />
    <br />

    <p>This page is viewable by the admin only. This page should display all of the existing user accounts. 
    The admin can select an account and be taken to the "EditAnAccount" page.</p>

    <br><br>
</div>