@{
    ViewData["Title"] = "MyAccount";
}


<div style="text-align:center">
    <h2>My Account</h2>
    <br />
    <br />
    <label id="labelFirstName">First Name: </label><br />
    <label id="labelLastName">Last Name: </label><br />
    <label id="labelExpectedGraduationDate">Expected Graduation Date: </label><br />
    <label id="labelTrack">Track: </label><br />
    <label id="labelEmail">Email: </label><br />
    <br />
    <br />
</div>