@{
    ViewData["Title"] = "MyAccount";
}
<div style="text-align:center">
    <h2>My Account</h2>
    <br />
    <br />
    <label id="labelAccountPermissionLevel">Student</label>
    <br />
    <br />
    <label id="labelMyAccountTFLCode">TFL Code: </label><br />
    <!--This is the barcode, wanted to give it a catchy name. A professor saying "we will scan your barcodes" isn't catchy. Students aren't groceries.-->
    <label id="labelMyAccountFirstName">First Name: </label><br />
    <label id="labelMyAccountLastName">Last Name: </label><br />
    <label id="labelMyAccountExpectedGraduationDate">Expected Graduation Date: </label><br />
    <label id="labelMyAccountTrack">Track: </label><br />
    <label id="labelMyAccountEmail">Email: </label><br />
    <br />
    <br />
    <p>To change your password, <a asp-controller="Home" asp-action="RequestNewPassword">click here</a>.</p>
    <p>To make other changes to your account, please contact yoour administrator.</p>
</div>