@{
    ViewData["Title"] = "My Account";
}

<div class="small-div" style="margin: auto;">
    <h1 class="hor-center-text">My Account</h1>
    <table class="no-design-table">
        <tr>
            <td>TFL Code:</td>
            <td><img id="tfl-code" style="vertical-align: middle; height: 50px; width: 100%;" src="~/resources/images/TFL-Code.PNG" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>John Doe</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>johndoe@email.com</td>
        </tr>
        <tr>
            <td>Account Type:</td>
            <td>Student</td>
        </tr>
        <tr>
            <td>Education Track:</td>
            <td>Music Major</td>
        </tr>
        <tr>
            <td>Expected Graduation:</td>
            <td>May 2020</td>
        </tr>
    </table>
    <br />
    <input type="button" class="hor-center-element" value="Reset My Password" onclick="location.href='@Url.Action("RequestNewPassword", "Home")'" />
    <p class="subtext">Clicking the link above will sign you out of your account.</p>
    @if (Convert.ToChar(ViewData["AccountType"]) == 'a')
    {
        <p class="subtext">To make changes to your account or another account, please visit the <a asp-controller="Home" asp-action="ManageAccounts">Manage Accounts</a> page.</p>
    }
    else
    {
        <p class="subtext">To make other changes to your account, please contact an administrator.</p>
    }
</div>