@{
    ViewData["Title"] = "Reset Password";
}

<div class="center-contents-on-screen">
    <div class="border-div small-div">
        <h2 class="hor-center-text">Reset Password</h2>
        <span>Please enter the email account that you used to register with iAttend.</span>
        <br />
        <br />
        <form id="formRequestChangePassword">
            <table class="no-design-table">
                <tr>
                    <td>Email:</td>
                    <td><input style="width: 100%;" id="inputRequestChangePasswordEmail" required /></td>
                </tr>
            </table>
        </form>
    </div>
</div>