@{
    ViewData["Title"] = "ChangePassword";
}
<br />
<br />
<div style="text-align:center">
    <h2>Change Password</h2>
    <br />
    <br />
    <form id="formRequestChangePassword">
        <!--Step One View (token link not clicked)-->
        <p>To change your password, enter the email that your iAttend account uses. A link to change your password will be sent to that inbox.</p>
        <p>Email: <input id="inputRequestChangePasswordEmail" value="someone@email.edu" required /></p>
        <input id="buttonRequestChangePasswordSubmit" type="submit" value="Submit" />
        <!--<button onclick="submit();">Log In</button>-->
    </form>

    <!--After the submit button is pressed, if the email is sent successfully, this message will be unhidden.-->
    <h4 hidden>Check the inbox of the email account that you provided </h4>

</div>