@{
    ViewData["Title"] = "Tracks in Time Frame";
}

<div class="small-div hor-center-element">
    <h1 class="hor-center-text">Tracks in Time Frame</h1>
    <h3 class="hor-center-text">Spring 2020</h3>
    <span>To edit the tracks in this time frame, please return to the <a asp-controller="Home" asp-action="ManageTimeFrames">Time Frames</a> webpage.</span>
    <br />
    <br />
    <table>
        <tr>
            <th>Track</th>
            <th>Type</th>
        </tr>
        <tr>
            <td>Music Major</td>
            <td>Major</td>
        </tr>
        <tr>
            <td>Music Minor</td>
            <td>Minor</td>
        </tr>
    </table>
</div>