@{
    ViewData["Title"] = "Track Requirements";
}

<div class="small-div hor-center-element">
    <h1 class="hor-center-text">Track Requirements</h1>
    <h3 class="hor-center-text">Music Major</h3>
    <span>To edit the requirements of this track, please return to the <a asp-controller="Home" asp-action="ManageTracks">Education Tracks</a> webpage.</span>
    <br />
    <br />
    <table>
        <tr>
            <th>Requirement</th>
            <th>Attendance Points Needed</th>
        </tr>
        <tr>
            <td>Music Recital</td>
            <td class="hor-center-text">3</td>
        </tr>
        <tr>
            <td>Theater Performance</td>
            <td class="hor-center-text">1</td>
        </tr>
        <tr>
            <td>Concert</td>
            <td class="hor-center-text">3</td>
        </tr>
    </table>
</div>