@{
    ViewData["Title"] = "TransferAdmin";
}

<br />
<br />
<div>
    <h2 class="hor-center">Transfer Admin Privileges</h2>
    <br />
    <br />
    <span>Steps to transfer Admin privilege to another user.</span><br />
    <span class="subText"><strong>Note:</strong> This will lower the privilege level of your current account to the Moderator (professor) level.</span>
    <ol>
        <li>Make sure the person you are transferring Admin privilages to already has an iAttend account that is Moderator status.</li>
        <li>Change The First Name and Last name to match your successor"s name.</li>
        <li>Change the email address to match the Mount Union email address of the person you are transferring admin privilages to.</li>
        <li>Once you are sure the information is correctly entered, click the "Transfer Admin Privileges" button and you are done!</li>
        <li>If the Admin privileges transfer is successful, you will be automatically logged out to complete the process.</li>
    </ol>
    <br />
    <br />
    <form id="formTransferAdmin">

        <table>
            <tr>
                <td>First Name: </td>
                <td><input id="inputTransferAdminFirstName" placeholder="Current FirstName" required /></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input id="inputTransferAdminLastName" placeholder="Current LastName" required /></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input id="inputTransferAdminEmail" placeholder="Current Email" required /></td>
            </tr>
        </table>

        <input id="submitTransferAdminAccount" type="submit" value="Transfer Admin Privileges" />
        <!--<button onclick="TransferAdmin();">Edit Account</button>-->


    </form>

    <!--After the transfer has succeeded, the user will be logged out.-->

    <p><a asp-controller="Home" asp-action="MyAccount">Return to My Account.</a></p>
    <br><br>
</div>