@{
    ViewData["Title"] = "TransferAdmin";
}

<br />
<br />
<div style="text-align:center">
    <h2>Transfer Admin Privileges</h2>
    <br />
    <br />
    <span>Steps to transfer Admin privilege to another user.</span>
    <span class="subText"><strong>Note:</strong> This will lower the privilege level of your current account to the Moderator (professor) level.</span>
    <ol>
        <li>Make sure the person you are transferring Admin privilages to already has an iAttend account that is Moderator status.</li>
        <li>Change The First Name and Last name to match your successor"s name.</li>
        <li>Change the email address to match the Mount Union email address of the person you are transferring admin privilages to.</li>
        <li>Once you are sure the information is correctly entered, click the "Transfer Admin Privileges" button and you are done!</li>
        <li>If the Admin privileges transfer is successful, you will be automatically logged out to complete the process.</li>
    </ol>
    <br />
    <br />
    <form id="formTransferAdmin">
        <p>
            Edit the information you wish to change. To change your password, <a asp-controller="Home" asp-action="RequestNewPassword">click here</a>.
            You can also use this process to transfer the owner privilege.
        </p>
        <span class="subText">To transfer the admin privilege to another user, follow the steps at the bottom of the page.</span>


        <p>First Name: <input id="inputTransferAdminFirstName" placeholder="Current FirstName" required /></p>

        <p>Last Name: <input id="inputTransferAdminLastName" placeholder="Current LastName" required /></p>

        <span>Email: <input id="inputTransferAdminEmail" placeholder="Current Email" required /></span>
        <span class="subText">You must use their Mount Union email.</span>

        <input id="submitTransferAdminAccount" type="submit" value="Transfer Admin Privileges" />
        <!--<button onclick="TransferAdmin();">Edit Account</button>-->


    </form>

    <!--After the transfer has succeeded, the user will be logged out.-->

    <p><a asp-controller="Home" asp-action="MyAccount">Return to My Account.</a></p>
    <br><br>
</div>