* {
    /* Includes borders and padding when specifying element size */
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    padding-left: 100px;
    padding-right: 100px;
}

/*************
    Navbar
*************/

header {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}

.navbar {
    background-color: #343a40;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar-logo {
    padding-top: 3px;
}
#navbar-logo-image {
    width: 40px;
    height: 40px;
}
#navbar-logo-text {
    padding-top: 5px;
    padding-left: 5px;
    font-family: 'Baloo 2', sans-serif;
    font-size: 25pt;
    letter-spacing: -2px;
}
#navbar-logo-image,
#navbar-logo-text {
    vertical-align: middle;
}

.navbar-links {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
.navbar-links a {
    padding-left: 20px;
}
.navbar-links a:hover {
    color: #ababab;
}

.navbar,
.navbar-links {
    display: flex;
}



/* ================================= 
  Media Queries
==================================== */

@media (max-width: 1025px) {
    .navbar,
    .navbar-links {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .navbar-links li a {
        padding-left: 10px;
    }

    main {
        padding-left: 75px;
        padding-right: 75px;
    }
}
