@{ 
    string email = null;
    var e = new Byte[32];
    bool isLoggedIn = Context.Session.TryGetValue("Email", out e);
    if (isLoggedIn)
    {
        email = System.Text.Encoding.UTF8.GetString(e);
    }

    char accountType = '\0';
    var at = new Byte[1];
    bool hasAccountType = Context.Session.TryGetValue("AccountType", out at);
    if (hasAccountType)
    {
        accountType = Convert.ToChar(System.Text.Encoding.UTF8.GetString(at));
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iAttend</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/resources/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/resources/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/resources/images/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/resources/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/resources/images/icons/site.webmanifest">
    <link rel="mask-icon" href="~/resources/images/icons/safari-pinned-tab.svg" color="#333333">
    <link rel="shortcut icon" href="~/resources/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="msapplication-TileImage" content="~/resources/images/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="~/resources/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#333333">
</head>
<body>
    <div id="navbar-and-content">
        <header>
            <nav class="navbar">
                <div class="navbar-logo">
                    <a class="navbar-logo-link" asp-controller="Home" asp-action="Index">
                        <img id="navbar-logo-image" src="~/resources/images/iAttend-Logo-White.svg" />
                        <span id="navbar-logo-text">iAttend</span>
                    </a>
                </div>
                <div class="navbar-links">
                    @{
                        if (isLoggedIn == false)
                        {
                            <a asp-controller="Home" asp-action="Login">Log In</a>
                            <a asp-controller="Accounts" asp-action="Create">Register</a>
                        }
                        else
                        {
                            if (accountType == 'a')
                            {
                                <a asp-controller="Home" asp-action="AdminActions">Admin Actions</a>
                            }
                            <a asp-controller="Home" asp-action="Attendance">Attendance</a>
                            <a asp-controller="Home" asp-action="Events">Events</a>
                            <a asp-controller="Home" asp-action="MyAccount">My Account</a>
                        }
                    }
                </div>
            </nav>
        </header>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="flex-container">
            <div>
                <strong>iAttend</strong>
                <br />
                <a asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <div>
                <strong>Account</strong>
                @if (isLoggedIn)
                {
                    <br />
                    <a asp-controller="Home" asp-action="Logout">Log Out</a>
                    <br />
                    <a asp-controller="Home" asp-action="MyAccount">My Account</a>
                }
                else
                {
                    <br />
                    <a asp-controller="Home" asp-action="Login">Log In</a>
                    <br />
                    <a asp-controller="Accounts" asp-action="Create">Register</a>
                }
                <br />
                <a asp-controller="Home" asp-action="RequestNewPassword">Reset Password</a>
            </div>
            @if (isLoggedIn)
            {
                <div>
                    <strong>Records</strong>
                    <br />
                    <a asp-controller="Home" asp-action="Attendance">Attendance</a>
                    <br />
                    <a asp-controller="Home" asp-action="Events">Events</a>
                </div>
            }
            @if (isLoggedIn && accountType == 'a')
            {
            <div>
                <strong>Admin</strong>
                <br />
                <a asp-controller="Home" asp-action="AdminActions">Admin Actions</a>
                <br />
                <a asp-controller="Home" asp-action="ManageTracks">Education Tracks</a>
                <br />
                <a asp-controller="Home" asp-action="ManageAccounts">Manage Accounts</a>
                <br />
                <a asp-controller="Home" asp-action="ManageTimeFrames">Time Frames</a>
            </div>
            }
        </div>
        <a href="mailto:threefuriouslocomotives@gmail.com">threefuriouslocomotives@gmail.com</a>
        <br />
        Copyright &copy; 2020 Three Furious Locomotives. All Rights Reserved.
    </footer>
    @if (IsSectionDefined("scripts"))
    {
        RenderSection("scripts");
    }
</body>
</html>