<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iAttend</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-logo">
                <a class="navbar-logo-link" asp-controller="Home" asp-action="Index">
                    <img id="navbar-logo-image" src="~/resources/images/iAttend-Logo-White.svg" />
                    <span id="navbar-logo-text">iAttend</span>
                </a>
            </div>
            <div class="navbar-links">
                <a asp-controller="Home" asp-action="Attendance" asp-route-accountType='A'>Attendance</a>
                <a asp-controller="Home" asp-action="Account" asp-route-accountType='A'>My Account</a>
                <a href="/accounts">Accounts Controller (for michael's testing)</a>
            </div>
        </nav>
    </header>
    <main role="main">

        <span>Nav Bar Stand-In</span>
        <span>
            <a asp-controller="Home" asp-action="Index">HomePage</a>
            <a asp-controller="Home" asp-action="Attendance" asp-route-accountType='A'>Attendance</a>
            <a asp-controller="Home" asp-action="Account" asp-route-accountType='A'>My Account</a>
            <a asp-controller="Home" asp-action="Login">Logout</a>
        </span>

        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - iAttend - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @if (IsSectionDefined("scripts"))
    {
        RenderSection("scripts");
    }
</body>
</html>